<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Mon Site Web</title>
</head>
<body>

  <!-- Votre contenu principal ici -->

  <footer id="main-footer">
    <div class="footer-content">
      <div class="footer-section about">

  <div class="footer-section about">
    <h2>ÉcoClima</h2>
    <p>Nous nous engageons à fournir des informations pertinentes et de qualité pour 
        vous tenir informé sur les questions liées au réchauffement climatique. 
        Explorez notre site pour découvrir des ressources utiles dans le domaine environnemental. 
        Notre mission est de rendre votre expérience en ligne aussi enrichissante que possible, en mettant en 
        lumière les enjeux du réchauffement climatique et en encourageant des actions durables.</p>
  </div>
  
      </div>
      <div class="footer-section contact">
        <h2>Contactez-nous</h2>
        <p>Email: contact@example.com</p>
        <p>Téléphone: +123 456 789</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 ÉcoClima</p>
    </div>
  </footer>

  <!-- Vos scripts JavaScript ici -->

</body>
</html>
